{% extends "layout.html" %}

{% block content %}

<div class="row">

        <div class="col-sm-3 col-6">

            <h1>Localização</h1>

            <table border="1">
                {% for location in locations %}
                <th><a href="/locations/{{location.name}}">Nome: {{location.name}}</a></th>
                <th>Tipo: {{location.type}}</th>
                <th>Dimensão: {{location.dimension}}</th>
                {% endfor %}
            </table>


        </div>

</div>
{% endblock %}